language: ruby
rvm:
  - 2.6.1
  - 2.5.3
  - 2.4.5
  - 2.3.8
branches:
  only:
    - master
bundler_args: --without development
script: bundle exec rspec -fdoc
gemfile: Gemfile.travis
dist: trusty
before_install: gem install bundler
